@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
  --off-white: #FAF9F6;
  --alice-blue: #F0F8FF;
  --pearl: #FBFCF8;
  --parchment: #FBF5DF;
  --slate-shadow: #101415;
  --earthly-mocha: #110904;
  --chocolate-noir: #262020;
  --forest-shadow: #0E1514;
}

body {
  min-height: 100vh;
  background-color: #203429;
}

nav {
  height: 5em;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111d16;
  backdrop-filter: blur(10px);
  z-index: 1000;
  
}

ul {

  display: flex;
  align-items: center;
  gap: 2em;
  
}

nav ul {

    display: flex;
    align-items: center;
    gap: 3em;
    margin-left: 100px;

}

nav ul a {
  color: white;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  
}

nav ul a:hover {
  opacity: 1;
}

.nav-menus {

  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-menus:focus,
.nav-menus:hover {
  color: #fff;
}

.nav-menus:focus:after,
.nav-menus:hover:after {
  width: 100%;
  left: 0%;
}

.nav-menus:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.log-out {

  padding: 15px 25px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
  width: 10em;
  border-radius: 10px;

}

.log-out:hover {

  background-color: #5a32a0;

}

.logo-image {
  height: 60px;
  width: 60px;
}

span {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  background-clip: text;
  color: transparent;
}

.auto-typed {

  background: linear-gradient(to right, #6cff52, #3ec5ff);
  background-clip: text;
  color: transparent;
  font-size: 4em;
  
}

.typed-cursor {

  font-size: 4em;
  opacity: 0;
  color: white;

}

#menu-icon {
  color: white;
  font-size: 3em;
  display: none;
}

section {
  min-height: 100vh;
  padding: 5% 15%;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
}

#home img {
  width: 20vw;
  border-radius: 50%;
  margin-top: 3em;
}

.info-box {
  text-align: center;
  gap: 0.5em;
  max-width: 600px;
}

.info-box h1 {
  font-size: 5em;
  font-weight: 500;
}

.info-box h3 {
  font-size: 2em;
  font-weight: 400;
}

.info-box p {
  opacity: 0.7;
}

.btn {
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  font-size: 1.1em;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn a{

  color: black;
  text-decoration: none;
  list-style: none;

}

.btn .edit-btn{

  color: white;
  text-decoration: none;
  list-style: none;

}

.btn:hover {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  color: black;
}

.btn-box {
  display: flex;
  gap: 2em;
}

.btn-box .btn:nth-of-type(2) {
  background-color: white;
  color: var(--background);
}

.btn-box .btn:nth-of-type(2):hover {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  color: black;
}

#about {
  background-color: #263f30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.about-info span {
  font-size: 2em;
}

#about p {
  color: white;
  text-align: justify;
  margin-bottom: 50px;
}

#about img {
  width: 30vw;
  border-radius: 1em;
}

#artifacts {
  background-color: #203429;
}

.demographics {

  display: flex;
  text-align: left;
  gap: 10em;

}

.demographics ul {

  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
  
}

.demographics ul li span {

  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
  
}

.demographics ul li span:hover {
  transform: translateX(10px);
}

.demographics ul li i {
  font-size: 1.2em;
}

.header {
  text-align: center;
  font-size: 3em;
  margin: 0.3em 0;
}

.artifacts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.box {
  width: 21vw; 
  height: 50vw;   
  border: 3px solid rgb(49, 49, 49);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  padding: 2em;
  gap: 2em;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.box:hover {
  border: 3px solid rgb(100, 100, 100);
}

.box p {
  opacity: 0.8;
}

.box h1 {
  font-size: 2em;
}

.box img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

#peers {

  background-color: #263f30;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
 
}

.card {

  width: 190px;
  height: 254px;
  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;

 }
 
 .card .card-border-top {

  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;

 }
 
 .card span {

  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;

 }
 
 .card .grade-section {

  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;

 }
 
 .card img {

  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;

 }
 
 .card button {

  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
  cursor: pointer;

 }
 
 .card button:hover {

  background: #534bf3;

 }

footer {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  bottom: 0;
  background-color: #203429;
  width: 100%;
  padding: 5em 15%;

}

.col-left {

  display: flex;
  flex-direction: column;
  gap: 1em;

}

.col-box {

  display: flex;
  align-items: center;
  gap: 1em;

}

.col-box i {

  font-size: 2em;

}

.col-box span {

  font-size: 1.2em;

}

.col-right {

  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  max-width: 500px;

}

.col-right span {

  font-size: 1.3em;

}

.col-box .social-icons {

  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 1em;

}

.col-right .social-icons {

  font-size: 2em;
  transition: 0.2s ease-in-out;
  cursor: pointer;

}

.social-icons i:hover {

  color: white; 

}

::-webkit-scrollbar {
  width: 20px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #6cff52, #3ec55f);
}


@media(max-width: 968px){

  section{

    padding: 8em 15%;

  }

  nav .btn{

    display: none;

  }

  .logo-text{

    font-size: 1em;
    display: none;

  }

  #menu-icon{

    display: block;

  }

  .menus{

    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: none;

  }

  .menus a{

    margin: 2em 0;
    display: block;
    font-size: 1.5em;
    color: white;

  }

  .menus .active{

    display: block;

  }

  #home h1{

    font-size: 4em;

  }

  #home h3{

    font-size: 2em;

  }

  #home img{

    width: 50vw;

  }

  #about{

    flex-direction: column;

  }

  #about img{

    width: 32vw;

  }

  #about h1{

    font-size: 3em;

  }

  #about ul{

    font-size: 1em;

  }


}

@media(max-width: 768px){

  .logo-text{

    font-size: 1em;
    display: none;

  }

  #home h1{

    font-size: 2.5em;

  }

  #home h3{

    font-size: 1.5em;

  }

  #home img{

    width: 32vw;

  }

  #about .demographics{

    gap: 3em;

  }

  #services .header{

    font-size: 3em;

  }

  footer{

    flex-direction: column;
    gap: 5em;
    align-items: baseline;

  }

}

.upload_wrapper {

  padding: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background);

}

dialog::backdrop {

  backdrop-filter: blur(2px);

}

.form-container {
  background-color: var(--pearl);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
}
.form-container h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--chocolate-noir);
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-group input[type="file"] {
  padding: 3px;
}

 .upload-buttons {

  display: flex;
  justify-content: space-around;
  gap: 2em;
  align-items: center;
  
}

.upload-buttons button {

  width: 50%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 4px;

}
.upload-buttons button:hover {
  background-color: #4cae4c;
}

/* Edit */
.edit_wrapper {

  display: flex;
  padding: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background);
  overflow-y: auto;

}

dialog::backdrop {

  backdrop-filter: blur(2px);

}

.form-container-edit {
  background-color: var(--pearl);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 600px;
  overflow-y: auto;
}
.form-container-edit h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.form-group-edit {
  margin-bottom: 15px;
}
.form-group-edit label {
  display: block;
  margin-bottom: 5px;
  color: var(--chocolate-noir);
}
.form-group-edit input, 
.form-group-edit textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-group-edit input[type="file"] {
  padding: 3px;
}
.form-group-edit textarea {
  resize: vertical;
  height: 80px;
}
.form-group-edit button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.form-group-edit button:hover {
  background-color: #0056b3;
}

/* From Uiverse.io by vinodjangid07
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: 0.3s;
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: black;
    transition-duration: 0.3s;
  }
  
  .Btn:hover {
    color: transparent;
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: 0.3s;
  }
  
  .Btn:active {
    transform: translate(3px, 3px);
    transition-duration: 0.3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  } */