@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
}

body {
  min-height: 100vh;
  background-color: var(--background);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 50px;
}

nav ul a {
  color: white;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

nav ul a:hover {
  opacity: 1;
}

.nav-menus {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .nav-menus:focus,
  .nav-menus:hover {
    color: #fff;
  }
  
  .nav-menus:focus:after,
  .nav-menus:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .nav-menus:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

.logo-image {
  height: 60px;
  width: 60px;
}

.logo-text {
  position: absolute;
  margin-left: 120px;
  font-size: 2em;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.logo-text:hover {
  opacity: 1;
}

span {
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  background-clip: text;
  color: transparent;
}

#menu-icon {
  color: white;
  font-size: 3em;
  display: none;
}

section {
  min-height: 100vh;
  padding: 5% 15%;
}

#home {

  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
  
}

:root {
  --primary: #2d59fa;
  --primary-hover: #0037ff;
  --bg: #F7F8F9;
  --secondary: #FEFFFF;
  --dropzone-bg: #fff;
  --gray: #D3D3D3;
  --border: #EDF1F3;
  --dropzone-border: #D4DCE6;
  --headline: #211E30;
  --text: #0a090c;
  --primary-text: #F2F7FE;
  --dropzone-over: #F2F7FE;
}

.dropzone-box {
  
  float: right;
  margin-top: 90px;
  margin-right: 90%;
  border-radius: 1rem;
  min-width: 25rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 3rem;
  border: 1px solid var(--border);
  width: 100%;
  background: var(--dropzone-bg);
  
}

.dropzone-box h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  color: var(--headline);
}

.dropzone-box p {
  font-size: 1.15rem;
  color: var(--gray);
}

.dropzone-area {
  padding: 1rem;
  position: relative;
  margin-top: 1.5rem;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(
      --dropzone-border);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropzone-description {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.dropzone-area .file-info {
  font-size: 1.1rem;
}

.dropzone-area [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone-area .file-upload-icon svg {
  height: 6rem;
  max-width: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
  stroke: var(--headline);
}

.dropzone-area:hover {
  background: var(--dropzone-over);
}

.dropzone--over {
  border: 2px solid var(--primary);
  background: var(--dropzone-over);
}

.dropzone-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
  border: none;
  transition: background 0.3s ease;
}

.dropzone-help {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropzone-actions button[type='reset'] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--text);
  background: var(--secondary);
  cursor: pointer;
  border: 1px solid var(--dropzone-border);
  transition: all 0.3s ease;
}

.dropzone-actions button[type='reset']:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.dropzone-actions button[type='submit'] {
  background: var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--primary-text);
  border: none;
  cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
  background: var(--primary-hover);
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  max-width: 12rem;
}


footer {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  bottom: 0;
  background-color: var(--second-background);
  width: 100%;
  padding: 5em 15%;

}

::-webkit-scrollbar {
  width: 20px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #6cff52, #3ec55f);
}


@media(max-width: 968px){

  section{

    padding: 8em 15%;

  }

  nav .btn{

    display: none;

  }

  .logo-text{

    font-size: 1em;
    display: none;

  }

  #menu-icon{

    display: block;

  }

  .menus{

    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: none;

  }

  .menus a{

    margin: 2em 0;
    display: block;
    font-size: 1.5em;
    color: white;

  }

  .menus .active{

    display: block;

  }

  #home h1{

    font-size: 4em;

  }

  #home h3{

    font-size: 2em;

  }

  #home img{

    width: 50vw;

  }

  #about{

    flex-direction: column;

  }

  #about img{

    width: 32vw;

  }

  #about h1{

    font-size: 3em;

  }

  #about ul{

    font-size: 1em;

  }


}

@media(max-width: 768px){

  .logo-text{

    font-size: 1em;
    display: none;

  }

  #home h1{

    font-size: 2.5em;

  }

  #home h3{

    font-size: 1.5em;

  }

  #home img{

    width: 32vw;

  }

  #about .demographics{

    gap: 3em;

  }

  #services .header{

    font-size: 3em;

  }

  footer{

    flex-direction: column;
    gap: 5em;
    align-items: baseline;

  }

}
